.navparent{
    display: flex;
    background-color: #191A19;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.logo{
    width: 30%;
    padding: 30px 0 30px 0;
    margin-left: 7%;
}
.nav{
    display: flex;
    color: #FFFFFF;
    width: 30%;
}
.nav ul{
    display: flex;
    margin-left: 18%;
    gap: 25px;
}
.navbutton{
    display: flex;
    width: 100%;
    color: #FFFFFF;
    width: 30%;
    padding-left: 5%;
    gap: 25px;
}
.button1{
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    border: 0px;
    background-color:  #FF7420;
    color: #FFFFFF;
}
.navbutton ul{
    margin-top: 10px;
}
.section1parent{
    background-image: url(../images/background.png);
    width: 100%;
    height: 560px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.section1info{
    height: 400px;
    width: 500px;
    position: absolute;
    top: 37%;
    left: 5%;
}
.section1info h1{
    font-size: 60px;
    color: #FFFFFF;
    padding-right: 50px;
}
span{
    color: #FF7420;
}
.section1info p{
    font-size: 20px;
    color: #FFFFFF;
    padding: 24px 0 50px 0;
}
.button2{
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: 0px;
    background-color: #FF7420;
    color: #FFFFFF;
} 
.button3{
    padding:10px ;
    border-radius: 10px;
    border: 0px;
    background-color: #FFFFFF;
    margin-left: 25px;
}
.sectionheader{
    background-color: #FF7420;
}
.section2child1{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 0;
}
.heading{
    width: 35%;
}
.heading h2{
    font-size: 60px;
}
.menu{
    width:45% ;
}
.menu ul{
    display: flex;
    gap: 30px;
    justify-content: end;
    align-items: center;
    color: #FFFFFF;
    font-size: 18px;
}
.section2child2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-top: 30px
}


.card1{
    background-image: url(../Images/card\ 1.png);
    border-radius: 10px;
    width: 26%;
    height: 415px;
    position: relative;
}
.card2{
    background-image: url(../Images/card2.png);
    border-radius: 10px;
    width: 26%;
    height: 415px;
    position: relative;
}
.card3{
    background-image: url(../Images/card3.png);
    border-radius: 10px;
    width: 26%;
    height: 415px;
    position: relative;
}
.gradient{
    background-image: linear-gradient(rgba(0, 0, 0, 0.007), rgba(0, 0, 0, 0.801));
    width: 100%;
    height: 415px;
    position: absolute;
}
.info {
    margin: 350px 0 0 0;
    color: #FFFFFF;
    text-align: center;
}
.info h4{
    font-size: 23px;
}
.info p{
    margin-top: 10px;
    font-size: 18px;
}

.allprojects a,i{
    color: #191A19;
}
.allprojects{
    margin-left: 78%;
    padding: 30px 0 30px 0;
}
.section3infoparent{
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: #191A19;
}
.section3infoparent h3{
    font-size: 25px;
    color: #FF7420;
    padding: 40px 0 30px 0;
}
.section3infoparent p{
    font-size: 20px;
    color: #FFFFFF;
    padding: 0 18% 0 18%;
}
.section3infoparent h5{
    color: #FFFFFF;
    font-size: 20px;
    margin:25px 0 15px 0 ;
}
.section3infoparent h6{
    color: #FFFFFF;
    font-size: 16px;
    padding-bottom: 40px;
}
.footerparent1{
    background-color: #121312;
    padding: 50px;
}
.logo2{
    display: flex;
}
.logo2 h2{
    margin:0 3% 0 40%;
    color: #FFFFFF;
}
#myEmail{
    background-color: #121312;
    color: #FFFFFF; 
    border: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.61);
    margin-bottom: 4px;
}
.fa-solid{
    color: #FFFFFF;
}



